@use "../../styles/variables";
@use "sass:math";

$num-rows: 30;
$num-columns: 50;

body {
  margin: 0;
}

#landing {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tile, .sprite {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: math.div(100vw, $num-columns);
  width: math.div(100vw, $num-columns);
} 