@use "../../styles/variables";
@use "sass:math";

$num-rows: 6;
$num-columns: 6;

#pokemon-footer {
  position: absolute;
  bottom: 70px;
  left: 0;
  height: 200px;
  width: 200px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: math.div(100%, $num-columns);
}

.tile {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: math.div(100%, $num-columns);
} 

.sprite {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
