#search-form {
  width: 30vw;
  border: 0.2em solid white;
  display: flex;
  justify-content: space-between;
  input {
    background-color: rgba(0,0,0,0);
    color: white;
    width: 25vw;
    height: 3vh;
    border: 0;
    padding: 0;
  }
  button {
    background-color: rgba(0,0,0,0);
    height: 3vh;
    border: 0;
  }
}