.tile.nothing-door {
  background-position: left 0 top 0;
  background-size: 19200%;
}

.tile.nothing {
  background-position: left 0 top 0;
  background-size: 19200%;
}

// Wood Floor

.tile.home-wood-floor {
  background-position: left -270px top -960px;
  background-size: 19200%;
}

.tile.home-wood-floor-dark {
  background-position: left -360px top -960px;
  background-size: 19200%;
}

.tile.home-wood-floor-dark-n {
  background-position: left -390px top -960px;
  background-size: 19200%;
}

.tile.home-wood-floor-dark-ne {
  background-position: left -450px top -1140px;
  background-size: 19200%;
}

.tile.home-wood-floor-light-se {
  background-position: left -240px top -1410px;
  background-size: 19200%;
}

// Doormat

.tile.doormat-w {
  background-position: left -300px top -960px;
  background-size: 19200%;
}

.tile.doormat-e {
  background-position: left -330px top -960px;
  background-size: 19200%;
}

// Carpet

.tile.home-carpet {
  background-position: left -270px top -1560px;
  background-size: 19200%;
}

.tile.home-carpet-e {
  background-position: left -390px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-se {
  background-position: left -390px top -1110px;
  background-size: 19200%;
}

.tile.home-carpet-n {
  background-position: left -420px top -1110px;
  background-size: 19200%;
}

.tile.home-carpet-ne {
  background-position: left -420px top -1140px;
  background-size: 19200%;
}

.tile.home-carpet-nw {
  background-position: left -390px top -1140px;
  background-size: 19200%;
}

.tile.home-carpet-s {
  background-position: left -360px top -1110px;
  background-size: 19200%;
}

.tile.home-carpet-w {
  background-position: left -240px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-sw {
  background-position: left -240px top -1110px;
  background-size: 19200%;
}

// N Carpet Objects
.tile.home-carpet-n-tv {
  background-position: left -300px top -1230px;
  background-size: 19200%;
}

.tile.tv-screen {
  background-position: left -1380px top -90px;
  background-size: 19200%;
}

.tile.home-carpet-n-cabinet-se {
  background-position: left -270px top -1230px;
  background-size: 19200%;
}

.tile.home-carpet-n-cabinet-sw {
  background-position: left -240px top -1230px;
  background-size: 19200%;
}

.tile.home-carpet-n-cabinet-ne {
  background-position: left -270px top -1200px;
  background-size: 19200%;
}

.tile.home-carpet-n-cabinet-nw {
  background-position: left -240px top -1200px;
  background-size: 19200%;
}

.tile.home-carpet-sw {
  background-position: left -240px top -1110px;
  background-size: 19200%;
}

// Carpet Chair

.tile.home-carpet-chair-e {
  background-position: left -360px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-chair-w {
  background-position: left -270px top -1080px;
  background-size: 19200%;
}

// Carpet Table

.tile.home-carpet-table-ne {
  background-position: left -330px top -1050px;
  background-size: 19200%;
}

.tile.home-carpet-table-nw {
  background-position: left -300px top -1050px;
  background-size: 19200%;
}

.tile.home-carpet-table-se {
  background-position: left -330px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-table-sw {
  background-position: left -300px top -1080px;
  background-size: 19200%;
}

// Downstairs Furniture
.tile.home-fridge-s {
  background-position: left -240px top -1170px;
  background-size: 19200%;
}

.tile.home-fridge-n {
  background-position: left -240px top -1140px;
  background-size: 19200%;
}

.tile.home-sink-nw {
  background-position: left -270px top -1140px;
  background-size: 19200%;
}

.tile.home-sink-ne {
  background-position: left -300px top -1140px;
  background-size: 19200%;
}

.tile.home-sink-sw {
  background-position: left -270px top -1170px;
  background-size: 19200%;
}

.tile.home-sink-se {
  background-position: left -300px top -1170px;
  background-size: 19200%;
}

.tile.home-display-nw {
  background-position: left -330px top -1140px;
  background-size: 19200%;
}

.tile.home-display-ne {
  background-position: left -360px top -1140px;
  background-size: 19200%;
}

.tile.home-display-sw {
  background-position: left -330px top -1170px;
  background-size: 19200%;
}

.tile.home-display-se {
  background-position: left -360px top -1170px;
  background-size: 19200%;
}

// Upstairs Furniture
.tile.home-bed-n {
  background-position: left -360px top -1440px;
  background-size: 19200%;
}

.tile.home-bed-nw {
  background-position: left -330px top -1440px;
  background-size: 19200%;
}

.tile.home-bed-ne {
  background-position: left -390px top -1440px;
  background-size: 19200%;
}

.tile.home-bed-s {
  background-position: left -360px top -1470px;
  background-size: 19200%;
}

.tile.home-bed-sw {
  background-position: left -330px top -1470px;
  background-size: 19200%;
}

.tile.home-bed-se {
  background-position: left -390px top -1470px;
  background-size: 19200%;
}

.tile.home-computer-desk-nw {
  background-position: left -300px top -1260px;
  background-size: 19200%;
}

.tile.home-computer-desk-ne {
  background-position: left -360px top -1260px;
  background-size: 19200%;
}

.tile.home-computer-desk-w {
  background-position: left -300px top -1290px;
  background-size: 19200%;
}

.tile.home-computer-desk-e {
  background-position: left -330px top -1290px;
  background-size: 19200%;
}

.tile.home-computer-desk-sw {
  background-position: left -300px top -1320px;
  background-size: 19200%;
}

.tile.home-computer-desk-se {
  background-position: left -330px top -1320px;
  background-size: 19200%;
}

.tile.home-map-wall-s {
  background-position: left -390px top -1260px;
  background-size: 19200%;
}

.tile.home-map-wall-n {
  background-position: left -330px top -1260px;
  background-size: 19200%;
}

.tile.home-game-cube-s {
  background-position: left -420px top -1320px;
  background-size: 19200%;
}

.tile.home-game-cube-n {
  background-position: left -390px top -1320px;
  background-size: 19200%;
}

.tile.home-tv-s {
  background-position: left -390px top -1290px;
  background-size: 19200%;
}

.tile.home-tv-n {
  background-position: left -420px top -1260px;
  background-size: 19200%;
}

.tile.home-wall-clock-s {
  background-position: left -450px top -1110px;
  background-size: 19200%;
}

.tile.home-wall-clock-n {
  background-position: left -450px top -1080px;
  background-size: 19200%;
}

// Wall
.tile.home-wall-n {
  background-position: left -360px top -1260px;
  background-size: 19200%;
}

.tile.home-wall-s {
  background-position: left -360px top -1290px;
  background-size: 19200%;
}

.tile.home-window-n {
  background-position: left -420px top -1050px;
  background-size: 19200%;
}

.tile.home-window-s {
  background-position: left -420px top -1080px;
  background-size: 19200%;
}

.tile.home-upstairs-ne {
  background-position: left -300px top -990px;
  background-size: 19200%;
}

.tile.home-upstairs-nw {
  background-position: left -240px top -990px;
  background-size: 19200%;
}

.tile.home-upstairs-n {
  background-position: left -270px top -990px;
  background-size: 19200%;
}

.tile.home-upstairs-se {
  background-position: left -300px top -1020px;
  background-size: 19200%;
}

.tile.home-upstairs-sw {
  background-position: left -240px top -1020px;
  background-size: 19200%;
}

.tile.home-upstairs-s {
  background-position: left -270px top -1020px;
  background-size: 19200%;
}

.tile.home-downstairs-ne {
  background-position: left -390px top -990px;
  background-size: 19200%;
}

.tile.home-downstairs-nw {
  background-position: left -330px top -990px;
  background-size: 19200%;
}

.tile.home-downstairs-n {
  background-position: left -360px top -990px;
  background-size: 19200%;
}

.tile.home-downstairs-se {
  background-position: left -390px top -1020px;
  background-size: 19200%;
}

.tile.home-downstairs-sw {
  background-position: left -330px top -1020px;
  background-size: 19200%;
}

.tile.home-downstairs-s {
  background-position: left -360px top -1020px;
  background-size: 19200%;
}