.tile.nothing-door {
  background-position: left 0 top 0;
  background-size: 19200%;
}

.tile.nothing {
  background-position: left 0 top 0;
  background-size: 19200%;
}

.tile.home-wood-floor {
  background-position: left -270px top -960px;
  background-size: 19200%;
}

.tile.doormat-w {
  background-position: left -300px top -960px;
  background-size: 19200%;
}

.tile.doormat-e {
  background-position: left -330px top -960px;
  background-size: 19200%;
}

// Carpet

.tile.home-carpet-e {
  background-position: left -390px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-se {
  background-position: left -390px top -1110px;
  background-size: 19200%;
}

.tile.home-carpet-n {
  background-position: left -420px top -1110px;
  background-size: 19200%;
}

.tile.home-carpet-ne {
  background-position: left -420px top -1140px;
  background-size: 19200%;
}

.tile.home-carpet-nw {
  background-position: left -390px top -1140px;
  background-size: 19200%;
}

.tile.home-carpet-s {
  background-position: left -360px top -1110px;
  background-size: 19200%;
}

.tile.home-carpet-w {
  background-position: left -240px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-sw {
  background-position: left -240px top -1110px;
  background-size: 19200%;
}

// Carpet Chair

.tile.home-carpet-chair-e {
  background-position: left -360px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-chair-w {
  background-position: left -270px top -1080px;
  background-size: 19200%;
}

// Carpet Table

.tile.home-carpet-table-ne {
  background-position: left -330px top -1050px;
  background-size: 19200%;
}

.tile.home-carpet-table-nw {
  background-position: left -300px top -1050px;
  background-size: 19200%;
}

.tile.home-carpet-table-se {
  background-position: left -330px top -1080px;
  background-size: 19200%;
}

.tile.home-carpet-table-sw {
  background-position: left -300px top -1080px;
  background-size: 19200%;
}