@use "../../styles/variables";
@use "sass:math";

$tile-height: 30px;
$tile-weight: 30px;

#pokemon-page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
  background-size: $tile-height $tile-weight;
}

#pokemon-page {
  position: relative;
  display: flex;
  flex-direction: column;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .tile,
  .sprite {
    height: $tile-height;
    width: $tile-weight;
  }

  .sprite {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}