@use "../../../styles/variables";

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* cover upper banner area */
  left: 0;      top: 0;
  height: 5em; width: 100%;
  &::after {
    @include variables.black-background-square;
    /* cover upper banner area */
    position: absolute;
    left: 0;      top: 0;
    height: 5em; width: 100%;
  }
}

.header-elem {
  margin: auto 2vh auto 2vh;
  color: white;
  text-decoration: none;
  vertical-align: center;
  z-index: 2;
}


