@keyframes fadeIn {
  0% {
    opacity: 1;
    z-index: 1;
  }
  // Only move fading div back after fade
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

#fading-div {
  position: absolute;
  height: 100%;
  width: 100%;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
  background-color: #1c1f21;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;
}
